@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-6 text-danger fw-bold">Welcome to Redhat Openshift - Kubernetes PaaS Solution </h1>
    <br />
</div>


<div class="">
    <p><b>What is Red Hat OpenShift 4</b></p>
    <p>
        Red Hat OpenShift, the industry's leading hybrid cloud application platform powered by Kubernetes, brings together tested and trusted services to reduce the friction of developing, modernizing, deploying, running, and managing applications. OpenShift delivers a consistent experience across public cloud, on-premise, hybrid cloud, or edge architecture.
        <br/>
        Choose a self-managed or fully managed solution. No matter how you run it, OpenShift helps teams focus on the work that matters.
    </p>
    <br/>
    <p><b>Openshift is now available in the following cloud platforms</b></p>
    <br />
    <div class="justify-content-evenly">
        <img src="https://www.shocnetworks.com/wp-content/uploads/2023/11/Microsoft-Azure.png" class="rounded" alt="openshift" width="260px" height="260px" />
        <img src="https://image.pngaaa.com/681/876681-middle.png" class="rounded" alt="openshift" width="260px" height="260px" />
        <img src="https://nordcloud.com/wp-content/uploads/2020/10/GCP-logo.png" class="rounded" alt="openshift" width="260px" height="260px" />
        <img src="https://th.bing.com/th/id/R.0cb8196292100bddfa1c0d5afd74b0b7?rik=Sb6WnYy5qXZMBA&riu=http%3a%2f%2ftechgenix.com%2ftgwordpress%2fwp-content%2fuploads%2f2018%2f11%2fibmcloudlogo.png&ehk=%2bF566rhfkuDPCQKWsJcJvLga8U85LyiVVgCOXU6iaak%3d&risl=&pid=ImgRaw&r=0&sres=1&sresct=1" class="rounded" alt="openshift" width="260px" height="260px" />
    </div>
</div>
