@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-6 text-danger">Welcome to Azure Redhat Openshift (ARO) </h1>
    <p>Learn about <a href="https://www.redhat.com/en/technologies/cloud-computing/openshift">deploying your applications to Azure Redhat Openshift</a>.</p>
</div>


<div class="">
    <p><b>What is Red Hat OpenShift</b></p>
    <p>
        Red Hat OpenShift, the industry's leading hybrid cloud application platform powered by Kubernetes, brings together tested and trusted services to reduce the friction of developing, modernizing, deploying, running, and managing applications. OpenShift delivers a consistent experience across public cloud, on-premise, hybrid cloud, or edge architecture.
        <br/>
        Choose a self-managed or fully managed solution. No matter how you run it, OpenShift helps teams focus on the work that matters.
    </p>
    <br/>
    <img src="https://th.bing.com/th/id/OIP.gmynEz6WbSganUGx0YZs2QHaB5?rs=1&pid=ImgDetMain" class="rounded" alt="openshift">
</div>
