@{
    ViewData["Title"] = "ARO Page";
}

<div class="text-center">
    <h1 class="display-6  text-danger fw-bold">Welcome to Azure Redhat Openshift (ARO)</h1>
    <p>Learn about <a href="https://www.redhat.com/en/technologies/cloud-computing/openshift">deploying your applications to Azure Redhat Openshift</a>.</p>
</div>

<br />
<div class="d-flex">
    <div class="p-2 col-md-6">
        <h5 class="pb-10 text-decoration-underline">Microsoft Azure Red Hat OpenShift</h5>
        <br />
        <br />
        <p>
            A fully managed turnkey application platform that helps organizations increase operational efficiency,
            focus on innovation, and quickly build, deploy, and scale applications.
        </p>
        <a class="btn btn-outline-danger" target="_blank" href="https://www.redhat.com/en/technologies/cloud-computing/openshift/azure/get-started">Get Started</a>
        <a class="btn btn-outline-dark" target="_blank" href="https://cloud.redhat.com/learn/microsoft-azure-red-hat-openshift-explained?extIdCarryOver=true&intcmp=701f20000012k6EAAQ&sc_cid=701f2000001Css5AAC">Start Learning</a>
    </div>
    <div class="col-md-6">
        <h5 style="align-content:center" class="text-decoration-underline">Interactive product overview</h5>
        <br />
        <div class="h-100 d-flex align-items-center justify-content-center">
            <img src="https://www.redhat.com/rhdc/managed-files/aro-walkthrough-step3_0.gif" alt="aro-walkthrough" width="680px" height="300px" />
        </div>
    </div>
</div>


<div class="p-3">
    <h5 style="align-content:center" class="text-decoration-underline">Product Details</h5>
    <br />
        <div class="card-group">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-success">Turnkey application platform</h5>
                    <p class="card-text">Rely on a turnkey application platform with built-in CI/CD, monitoring and developer tooling to get started quickly and offload the ongoing management of your applications.</p>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                <h5 class="card-title text-success">Global SRE expertise</h5>
                    <p class="card-text">Reduce operational complexity with automated deployment and management, backed by a global Site Reliability Engineering (SRE) team. Focus on building and scaling value-add applications, rather than managing infrastructure.</p>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                <h5 class="card-title text-success">Native Azure service</h5>
                    <p class="card-text">Access a native Azure service on demand from the Azure console. The service is jointly engineered, operated and supported by Microsoft and Red Hat – and billed directly through Microsoft. Seamlessly integrate with other Azure native tools.</p>
                </div>
            </div>
        </div>
        <div class="card-group">
            <div class="card">
                <div class="card-body">
                <h5 class="card-title text-success">Security and compliance</h5>
                    <p class="card-text">Maintain security and compliance regulations and gain greater confidence in the controls that govern data access, storage, and security vulnerabilities. Azure Red Hat OpenShift is also generally available on Microsoft Azure for U.S. Government.</p>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                <h5 class="card-title text-success">Streamlined hybrid cloud deployment</h5>
                    <p class="card-text">Gain a production-ready application platform that many enterprises already use on-premises today, making it easier and faster to shift workloads to Azure as business needs change.</p>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                <h5 class="card-title text-success">Global availability</h5>
                    <p class="card-text">Access Azure Red Hat OpenShift  in 30+ regions supported by Microsoft Azure. To ensure the highest resiliency, cluster components are deployed across 4 Azure Availability Zones in supported Azure regions.</p>
                </div>
            </div>
        </div>
</div>
